
// Размеры
$sz--hor-padding: 16px; // Боковые отступления

// Цвета
$color--primary: #31A582;
$color--green: #31A582;
$color--blue: #2F80ED;
$color--light-gray: #b4b4b4;
$color--gray: #656565;


// Шрифты
$fs--title: 20px;
$fs--mini: 12px;
